.timeline-line {
  position: relative;
  width: 3px;
  overflow: hidden;
  border-left: 1px solid black;
  height: 20vh;
  border-radius: 8px;
}
.timeline-line::before {
  content: "";
  position: absolute;
  left: 0;
  top: -100%;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #6366f1, #a855f7, #ec4899);
  animation: fillLine 2.5s linear infinite;
}
@keyframes fillLine {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}
