@keyframes shakeIcon {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

.group:hover .shake-on-hover {
  animation: shakeIcon 1s infinite;
}
